.body {
    background-color: rgb(24, 24, 32);
    position: absolute;
    top:50px;
    width:100%;
    bottom:0px;
}
.navbar-container{
    position:absolute;
    width:100%;
    background-color: rgb(29, 29, 39);
    height: 50px;
}

.navbar{
    list-style-type: none;
    margin-top: 5px;
    padding-right:20px;
    padding-left:20px;
}

.nav{
    display:inline;
}

.logo {
    margin: auto;
    font-family: 'Allerta Stencil';
    font-size: 30px;
    color: white;
}

.profile{
    width: 100%;
    border-radius: 50%;
}

.profile:before {
	content: "";
	float: right;
	padding-top: 100%;
}

.hidden{
    visibility: hidden;
}

.main-container{
    margin-top : 150px;
    padding-left: 20%;
    padding-right: 20%;
}

.main-header{
    display: flex;
    justify-content: space-between;
}

.header{
    font-family: Inter, sans-serif;
    font-weight : 800;
    color:white;
    font-size:30px;
}

.all-tasks-content{
    font-family: Inter;
    font-weight: 500;
    color:white;
    font-size:16px;
}

.all-tasks{
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 5px;
    width:120px;
    height:35px;

    --tw-shadow: inset 0 -4px 0px 0 rgba(0,0,0,0.25);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);

    --tw-gradient-from: #bb3fdd;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(187,63,221,0));

    background-image: linear-gradient(to top right,var(--tw-gradient-stops));

    --tw-gradient-to: #ff9f7c;

    transition-duration: .2s;

    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.all-tasks:hover{
    transform: translateY(-5px);
}

.task-container{
    --tw-bg-opacity: 1;
    background-color: rgba(33,33,43,var(--tw-bg-opacity));
    border-radius: 1rem;
    margin:2em;
    padding:1em;
}

.task-container li{
    font-family: Inter, sans-serif;
    color: whitesmoke;
    padding-left: 10px;
}