<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/9d4219e9a1.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Allerta Stencil" rel="stylesheet"/>
  </head>
  <div class="navbar-container">
    <ul class="navbar">
      <li class="nav"><span class="logo">TODO</span></li>
      <li class="nav" style="float: right">
        <span>
          <button class="profile">
            <p class="hidden">Profile</p>
          </button>
        </span>
      </li>
    </ul>
  </div>
  <div class="body">
    <div class="main-container">
      <div class="main-header">
        <span class="header">Today's Tasks</span>
        <span>
          <button routerLink="all" routerLinkActive="active" class="all-tasks">
            <p class="all-tasks-content">All Tasks</p>
          </button>
        </span>
      </div>
      <ul class="heroes" style="list-style-type: none">
        <div class="task-container">
          <li *ngFor="let hero of todos">
            {{ hero.task }}
          </li>
        </div>
      </ul>
    </div>
  </div>
</html>
