<button routerLink=".." routerLinkActive="active">Back</button>
<h2>All Tasks</h2>
<ul class="heroes" style="list-style-type:none;">
  <li *ngFor="let hero of todos">
    {{hero.id}} {{hero.task}} {{hero.dueby}} {{hero.status}}
  </li>
</ul>
<div>
  <span><button routerLink="../finished" routerLinkActive="active"> Finished</button></span>
  <span><button routerLink="../manage" routerLinkActive="active"> Manage</button></span>
  <span><button routerLink="../overdue" routerLinkActive="active"> Overdue</button></span>
</div>

