<h2>All Tasks</h2>
<ul class="heroes" style="list-style-type:none;">
  <li *ngFor="let hero of todos">
    <span class="badge">{{hero.id}}</span> {{hero.task}}
  </li>
</ul>
<div>
  <span><button onclick="location.href = 'https://leankloud-frontend.herokuapp.com/finished';" id="myButton" class="float-left submit-button" >Finished</button></span>
  <span><button onclick="location.href = 'https://leankloud-frontend.herokuapp.com/overdue';" id="myButton" class="float-left submit-button" >Overdue</button></span>
  <span><button onclick="location.href = 'https://leankloud-frontend.herokuapp.com/manage';" id="myButton" class="float-left submit-button" >Manage</button></span>
</div>

