<button routerLink="../all" routerLinkActive="active">Back</button>
<h2>Manage Tasks</h2>
<ul class="heroes" style="list-style-type:none;">
  <li *ngFor="let hero of todos">
    <div>
      <span [id]="hero.id">{{hero.id}}</span><span> {{hero.task}} {{hero.dueby}} {{hero.status}} </span>
      <span><button (click)=showUpdatePrompt($event) [id]="hero.id"><i class="fa fa-pencil" aria-hidden="true"></i></button></span>
      <span><button (click)="dlt($event)" [id]="hero.id"><i class="fa fa-trash-o" aria-hidden="true"></i></button></span>
    </div>
  </li>
</ul>
<button (click)=showNewPrompt($event)>Add Task</button>
